<launch>

    <arg name="gui" default="false" />
    <arg name="rviz" default="false" />
    <arg name="map" default="-1" />
    <arg name="unpause" default="false" />

    <arg name="track_unknown_space" default="true"/>
    <arg name="prefix" default="" doc="Prefix used for robot tf frames" />

    <!-- Launch base world -->
    <group if="$(eval arg('map') == 0)">
        <include file="$(find mir_gazebo)/launch/mir_empty_world.launch">
            <arg name="gui" value="$(arg gui)" />
        </include>

        <node name="spawn_rm_simple" pkg="gazebo_ros" type="spawn_model" args="-sdf
            -file $(find rm_mir_cleaner)/sdf/rm_simple/model.sdf -model walls" output="screen" />
    </group>

    <!-- Launch complex world -->
    <group if="$(eval arg('map') == 1)">
        <include file="$(find mir_gazebo)/launch/mir_maze_world.launch">
            <arg name="gui" value="$(arg gui)" />
        </include>
    </group>

    <!-- Merge laser scans -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link"/>
        <!-- <param name="cloud_destination_topic" value="/merged_cloud"/> -->
        <param name="scan_destination_topic" value="/scan_multi"/>
        <param name="laserscan_topics" value ="/b_scan_rep117 /f_scan_rep117" /> 
        <param name="angle_min" value="-3.14"/> -->
        <param name="angle_max" value="3.14"/>
        <!-- <param name="angle_increment" value="0.0058"/> -->
        <!-- <param name="scan_time" value="0.0333333"/> -->
        <param name="range_min" value="0.05"/>
        <param name="range_max" value="50.0"/>
    </node>

    <!-- Move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <param name="SBPLLatticePlanner/primitive_filename" value="$(find mir_navigation)/mprim/unicycle_highcost_5cm.mprim" />
        <rosparam file="$(find mir_navigation)/config/move_base_common_params.yaml" command="load" />
        <rosparam file="$(find mir_navigation)/config/sbpl_global_params.yaml" command="load" />
        <rosparam file="$(find mir_navigation)/config/dwb_local_planner_params.yaml" command="load" />
        <!-- global costmap params -->
        <rosparam file="$(find mir_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true" />
        <rosparam file="$(find mir_navigation)/config/costmap_global_params.yaml" command="load" />
        <rosparam file="$(find mir_navigation)/config/costmap_global_params_plugins_virtual_walls.yaml" command="load" if="false" />
        <rosparam file="$(find mir_navigation)/config/costmap_global_params_plugins_no_virtual_walls.yaml" command="load" unless="false" />
        <!-- local costmap params -->
        <rosparam file="$(find mir_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true" />
        <rosparam file="$(find mir_navigation)/config/costmap_local_params.yaml" command="load" subst_value="true" />
        <rosparam file="$(find mir_navigation)/config/costmap_local_params_plugins_virtual_walls.yaml" command="load" if="false" />
        <rosparam file="$(find mir_navigation)/config/costmap_local_params_plugins_no_virtual_walls.yaml" command="load" unless="false" />
        <remap from="map" to="/map" />
        <remap from="marker" to="move_base_node/DWBLocalPlanner/markers" />

        <param name="global_costmap/track_unknown_space" value="$(arg track_unknown_space)" />
        <param name="local_costmap/track_unknown_space" value="$(arg track_unknown_space)" />
    </node>

    <!-- Hector trajectory server -->
    <!-- <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
        <param name="target_frame_name" type="string" value="/map" />
        <param name="source_frame_name" type="string" value="/base_link" />
        <param name="trajectory_update_rate" type="double" value="4" />
        <param name="trajectory_publish_rate" type="double" value="1" />
    </node> -->

    <!-- Unpause -->
    <node if="$(arg unpause)" pkg="rosservice" type="rosservice" name="unpause" args="call --wait /gazebo/unpause_physics"/>

    <!-- Visualize -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find rm_cleaner_js)/config/visualize.rviz" required="false"/>
    </group>

</launch>