<launch>

    
    <arg name="map" default="$(find rm_cleaner_js)/maps/map.yaml"/>
    <arg name="robot_radius" default="0.9"/>
    <arg name="tool_radius" default="0.32"/>



    <node pkg="move_base" type="move_base" name="move_base" output="screen" >

         <param name="base_global_planner" value="full_coverage_path_planner/SpiralSTC"/>
         <param name="SpiralSTC/robot_radius" value="$(arg robot_radius)"/>
        <param name="SpiralSTC/tool_radius" value="$(arg tool_radius)"/>
        <param name="global_costmap/robot_radius" value="$(arg robot_radius)"/>


        <rosparam file="$(find rm_cleaner_js)/config/local_planner_params.yaml" command="load" />
        <rosparam file="$(find rm_cleaner_js)/config/move_base_params.yaml" command="load" />

        <!-- Global costmap -->
        <rosparam file="$(find rm_cleaner_js)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find rm_cleaner_js)/config/costmap_global_params.yaml" command="load" />

        <!-- Local costmap -->
        <rosparam file="$(find rm_cleaner_js)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find rm_cleaner_js)/config/costmap_local_params.yaml" command="load" />



        <remap from="map" to="/map" />

    </node>




    <!--We need a map to fully cover-->
    <node name="grid_server" pkg="map_server" type="map_server" args="$(arg map)">
        <param name="frame_id" value="map"/>
    </node>

   
</launch>